<div title="{{schedule.start}} - {{schedule.end}}" ng-Style="myStyle" ng-click="clicked()">
  <div class="handle left" ondrag="resize" ondragstart="startResizeStart" ondragstop="endDrag" handle></div>
  <div ondrag="drag" ondragstart="startDrag" ondragstop="endDrag" handle>{{schedule.label}}</br>{{schedule.start | date:"dd MMM"}} - {{schedule.end | date:"dd MMM"}}
  </div>
  <div class="handle right" ondrag="resize" ondragstart="startResizeEnd" ondragstop="endDrag" handle></div>
</div>
<div class="remove"><span class="glyphicon glyphicon-remove"></span></div>