<div title="{{schedule.start | date}} - {{schedule.end | date}}" ng-Style="myStyle">
  <div class="handle left" ondrag="resize" ondragstart="startResizeStart" ondragstop="endDrag" handle></div>
  <div ondrag="drag" ondragstart="startDrag" ondragstop="endDrag" handle>{{schedule.label}}</br>{{schedule.start | date}} - {{schedule.end | date}}
  </div>
  <div class="handle right" ondrag="resize" ondragstart="startResizeEnd" ondragstop="endDrag" handle></div>
  <div class="remove"><span class="glyphicon glyphicon-remove"></span></div>
</div>